<div><h1>Blackjack</h1>

<p>Welcome <%= session[:player_name] %>.</p></div>

<div> <div> <!--Hand status div -->

<div class="well well-large">
  <p>Dealer Cards:</p>
  <% #binding.pry %>
  <% if session[:dealer_display?] %>
    <div styles="float:left"><img src="/images/cards2/<%= session[:dealer_cards_image][0] %>"/><img style="margin-right:10px;" src="/images/cards2/b2pr.png"/></div><br>
  <%else%>
    <div styles="float:left">
    <% session[:dealer_cards_image].each do | image | %>
      <img style="margin-right:5px" src="/images/cards2/<%= image %>"/>
    <% end %>
    </div><br>
  <% end %>
  <% if session[:play_status] == "pa" %>
    <div>Dealer hand total: <%= session[:dealer_total] %></div>
  <% end %>
</div>
  
<div class="well well-large">
  <p><%= session[:player_name] %>'s Cards:</p>
  <div styles="float:left">
    <% session[:player_cards_image].each do | image | %>
      <img style="margin-right:5px" src="/images/cards2/<%= image %>"/>
    <% end %>
  </div><br>
  <div>Bankroll: <%=session[:bank_roll]%>
  <% if session[:play_status] == "pa" %>
    Player total: <%=session[:player_total] %>
  <% end %>  
 </div>
</div>

<div>
  <div class="<%= session[:status_class] %>"><%= session[:status_mess]%></div>
  <% if session[:play_status] == "b" %>
    <form  action='/bet' method='post'>
      <input class="input-mini" type='text' name='hand_bet' size="5"/><br>
      <input type='submit' class='btn' value='Place Bet'/>
    </form>
  <% elsif session[:play_status] == "a" %>
    <% #TODO action form hit stay ...%>
    <form  action='/hit' method='post'>
      <input type='submit' class='btn' value='Hit' name='hit'/>
      <input type='submit' class='btn' value='Stay' name='stay'/>
    </form>
  <% else %>
    <% #TODO play again form %>
    <form  action='/play_again' method='post'>
      <input type='submit' class='btn' value='Play Again' name='play_again'/>
    </form>
  <% end %>
</div>
